<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color:#FCF8F2">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="../../logo/mainlogo.png" alt="Apple" style="width:100px;height:100px;"></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark tab_names" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark tab_names" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark tab_names" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark tab_names" asp-area="" asp-controller="Restaurants" asp-action="Index">Restaurants</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <hr>
    <div class="layout">    
        <div class="all-cols footer-section">
            <div class="faq">                
                <a href="/Products" target="_blank" rel="noopener" class="link-block">
                    <h3 style="font-weight:bold">Find Products That Are Available</h3>
                    <p>Products</p>
                </a>
                <a href="/Identity/Account/Register" target="_blank" rel="noopener" class="link-block">
                    <h3 style="font-weight:bold">Register For Partnership</h3>
                    <p>Click Here</p>
                </a>
            </div>
            <div class="faq">
                <div target="_blank" rel="noopener" class="link-block">
                    <h3 style="font-weight:bold">Business Information</h3>
                    <p  style="font-weight:normal">Adress: Vilnius<br /> Phone Number: +37088888888</p>
                </div>

                <div target="_blank" rel="noopener" class="link-block">
                    <h3 style="font-weight:bold">Additional Infomartion:</h3>
                    <p>Work Hours: I-IV 8:00-17:00</p>
                </div>
                <a href="https://labas.lt" target="_blank" rel="noopener" class="link-block">
                    <h3 style="font-weight:bold">Leave Feedback</h3>
                    <p></p>
                </a>

            </div>
        </div>
    </div>
    <div class="separator sd-only"></div>
    <div class="layout">
        <div class="all-cols footer-section contacts">
            <p>
                Created By Vilnius University Students
            </p>
            <div class="contacts-logos">
                <img src="/logo/VU-logotype.png" alt="Vilniaus Universitetas" width="125px" height="125px">
                <img src="~/logo/mainlogo-removebg-preview.png"  alt="FoodWaste" width="100px" height="100px">
            </div>
        </div>
    </div>
 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
    </html>
