@model FoodWaste.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label"></label>
                <input asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State" class="form-control" asp-items="@Html.GetEnumSelectList<ProductState>()"></select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
           @*add create allergen panel there*@
            <MatAcordion Multi="true">
                <MatExpansionPanel>
                    <MatExpansionPanelSummary>
                        <MatExpansionPanelHeader>Added allergens</MatExpansionPanelHeader>
                    </MatExpansionPanelSummary>
                    <MatExpansionPanelDetails>
                        <MatList>
                            @foreach (var allergen in (IEnumerable<Allergen>)ViewData["CurrentAllergens"])
                            {
                                <MatListItem style=" display: inline-block; width: 100%;">
                                    <div style="float:left; margin: 0">
                                        @allergen.Name
                                    </div>
                                    <div style="float:right">
                                        <MatButton Outlined="true" class="btn btn-primary" onclick="location.href = '/Products/Remove/AllergenE/@allergen.AllergenId'" type="button">Remove</MatButton>
                                    </div>
                                </MatListItem>
                            }
                        </MatList>
                    </MatExpansionPanelDetails>
                </MatExpansionPanel>

                <MatExpansionPanel>
                    <MatExpansionPanelSummary>
                        <MatExpansionPanelHeader>List of potential allergens</MatExpansionPanelHeader>
                    </MatExpansionPanelSummary>
                    <MatExpansionPanelDetails>
                        <MatList>
                            @foreach (var allergen in (IEnumerable<Allergen>)ViewData["Allergens"])
                            {
                                <MatListItem style=" display: inline-block; width: 100%;">
                                    <div style="float:left; margin: 0">
                                        @allergen.Name
                                    </div>
                                    <div style="float:right">
                                        <MatButton Outlined="true" class="btn btn-primary" onclick="location.href = '/Products/Add/AllergenE/@allergen.AllergenId'" type="button">Add</MatButton>
                                    </div>
                                </MatListItem>
                            }
                        </MatList>
                    </MatExpansionPanelDetails>
                </MatExpansionPanel>
            </MatAcordion>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
